* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #eab9f1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 60px;
}

nav ul li a {
  color: #eab9f1;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: #5f4263;
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

.btn {
  background: #a884ad;
  color: #20052c;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background: #fff;
}

.feature-box {
  width: 30%;
  text-align: center;
  background: #a687ab;
  padding: 20px;
  border-radius: 8px;
}

.about, .contact {
  padding: 40px 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background: #815687;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
}
